In [19]:
import os
import csv
import pandas as pd

csvpathA = os.path.join("employee_data1.csv")
csvpathB = os.path.join("employee_data2.csv")
EmployA_df = pd.read_csv(csvpathA, encoding="utf-8")
EmployB_df = pd.read_csv(csvpathB, encoding="utf-8")


Sum_df= EmployA_df.append(EmployB_df,ignore_index=True)
print(Sum_df)
#print(Sum_df.Name.str.split(' ', expand = True))
#print(pd.to_datetime(Sum_df['DOB']).dt.strftime("%d-%m-%Y"))
#print(pd.to_datetime(Sum_df['DOB']).dt.strftime("%d-%m-%Y"))
Sum_df.columns
Sum_df['SSN'].mask(7,"#")    
#df['First_Name'] = Sum_df.Name.str.split(' ', expand = True)[0]
#df['Last_Name'] = Sum_df.Name.str.split(' ', expand = True)[1]
#print(df)
#Split_df= EmployA_df.join(EmployA_df.name.str.extract('(?P<First>\S+)\s+(?P<Last>\S+)', expand=True))

#print (df)

      Emp ID                Name         DOB          SSN           State
0        214       Sarah Simpson   12/4/1985  282-01-8166         Florida
1         15       Samantha Lara    9/8/1993  848-80-7526        Colorado
2        411       Stacy Charles  12/20/1957  658-75-8526    Pennsylvania
3        166        Michelle Roy   7/29/1978  794-25-3944        Michigan
4         39       Joseph Rogers   3/28/1985  525-40-3515       Minnesota
5        423         Erica Hines  10/13/1975  034-90-6153        New York
6        192           Zoe Patel  12/20/1967  037-50-0817       Wisconsin
7        162      Matthew Harvey   1/20/1990  244-53-0346       Tennessee
8        131         Shawn Davis   7/21/1961  309-08-1581   West Virginia
9         20       April Baldwin    8/7/1961  068-61-2014        Missouri
10       246     Vincent Daniels    1/6/1972  319-38-2754         Montana
11       525          Ann Fields   8/22/1960  752-98-7911            Iowa
12       392     Jeffrey Pearson    5/5/1979  171-82-2578        Illinois
13       474     Heather Johnson   9/23/1989  724-30-0904         Georgia
14       478    Melissa Fletcher   3/14/1979  899-91-6881    Rhode Island
15       101    Kimberly Alvarez    9/4/1984  138-08-8680       Louisiana
16        52      Monica Jimenez    4/8/1988  835-26-1668    North Dakota
17       182      Steven Johnson   5/28/1962  026-20-7070        Nebraska
18       637          Sarah Wood   6/15/1972  235-96-6715         Florida
19       510      Jesus Petersen   3/28/1958  133-75-0770        Oklahoma
20       122      Rhonda Rosales   4/10/1963  498-27-0286         Alabama
21       294   Nicole Richardson    9/9/1981  369-83-5228       Louisiana
22       327     Jennifer Mendez   7/20/1977  736-41-1994          Oregon
23       145        Sandra Petty   1/30/1981  702-18-7629  North Carolina
24       565      Michael Hester   4/13/1987  022-21-6836    South Dakota
25       590        Joseph Brown   8/28/1982  517-03-4744   New Hampshire
26       340     Michelle Cooper   8/23/1993  056-59-2306      Washington
27       176        Barbara Wise  12/15/1991  894-82-7662         Indiana
28        63       Carol Rosales   7/20/1984  874-92-4907      New Jersey
29       121          Mark Villa   2/24/1969  700-15-2207     Mississippi
...      ...                 ...         ...          ...             ...
2740     804        Gail Johnson    6/6/1990  812-88-3613     Connecticut
2741     212        Connie Olsen  12/30/1988  784-63-6860            Ohio
2742     417      Michael Church  11/27/1959  754-04-5079        Kentucky
2743     555         Mike Wilson  12/23/1962  696-71-7316       Minnesota
2744     519      Crystal Fisher  11/10/1972  797-94-9745           Idaho
2745     232      Charles Duncan   2/14/1980  424-69-9851  North Carolina
2746     898         Roy Perkins  10/10/1988  474-91-8096         Florida
2747      24      Dustin Jackson    1/6/1979  627-48-2345          Hawaii
2748    2086     Laura Contreras   5/17/1962  648-01-6546         Wyoming
2749    1709      Timothy Morton    7/2/1993  712-03-3871    South Dakota
2750    1606       John Morrison   1/10/1984  215-78-4470   Massachusetts
2751    1917         Joseph Wood   11/2/1957  355-11-5341         Florida
2752     928        Oscar Romero    3/8/1987  733-98-5634        Illinois
2753    1175      Shannon Wilson  11/19/1969  356-71-3974            Utah
2754    1500     James Armstrong   7/23/1975  499-78-4550    North Dakota
2755     848      Ronnie Ellison   4/22/1980  238-55-2267      Washington
2756     216       Joshua Wilcox   9/27/1986  652-11-7150        Oklahoma
2757     274         Bryan Rocha    2/3/1964  601-30-8996         Arizona
2758     756       Matthew Flynn   10/5/1957  570-68-1385        Virginia
2759    1925       Amanda Turner  12/28/1960  175-25-7060       Minnesota
2760    1731        Steven White    3/5/1959  145-14-4892   Massachusetts
2761    1019        Andrea Berry   2/14/1989  006-84-6290         Alabama
2762    1155         Shawn Burke    1/1/1960  751-20-9071      California
2763     449       Rhonda Wilson    1/8/1987  113-68-0832         Vermont
2764     115            Jay Hart   5/14/1963  013-46-6255     Connecticut
2765    1636     Ashley Martinez   4/13/1986  081-06-5385          Nevada
2766      84  Elizabeth Johnston    8/3/1974  129-88-2936        Illinois
2767    1478      Andrew Acevedo   6/29/1991  759-08-6963         Montana
2768     384      Michelle Lynch   3/28/1972  680-54-8040    Pennsylvania
2769    1582      Cristian Gibbs    2/8/1963  321-19-9478     Connecticut

[2770 rows x 5 columns]

ValueError: Array conditional must be same shape as self